:root {
    font-size: 13px;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle farthest-corner at 0 90%, #fedcb6, #fffaf4);
    letter-spacing: 1px;
    font-family: Verdana, sans-serif;
}

.d-none {
    display: none;
}

.pos-abs {
    position: absolute;
}

.pos-fix {
    position: fixed;
}

.txt-large {
    font-size: 1.35rem;
}

.txt-normal {
    font-size: 1.2rem;
}

.txt-bold {
    font-weight: 600;
}

.mt-1 {
    margin-top: 0.5rem;
}

.txt-center {
    text-align: center;
}

#btn-enter {
    position: relative;
    display: none;
    border-radius: 0.5rem;
    z-index: 2;
    text-align: center;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    box-shadow: 1px 1px 2px 0px #d32d0444;
}

#btn-enter:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 0px #fcaa39;
}

#btn-enter:active {
    background-color: none;
    box-shadow: inset 1px 1px 2px 0px #d32d0444;
}

#pg-welcome #txt-welcome {
    width: 70vw;
    position: absolute;
    top: calc(40px + 3.2rem);
    left: 50%;
    transform: translate(-50%, -50%);
}

#pg-welcome .txt-welcome-sub {
    position: relative;
    top: calc(40px + 5.5rem);
}

#pg-welcome .txt-welcome-sub h3 {
    padding: 0 1rem;
}

#pg-welcome .card {
    color: #830707;
}

#pg-welcome #wedding-img,
#wedding-doll {
    width: 85vw;
    position: absolute;
    bottom: 1rem;
    left: 0;
    opacity: 0.8;
}

#pg-welcome #wedding-img {
    bottom: -1rem;
}

.door-back {
    background: #572d2d;
    position: relative;
    width: 6.5rem;
    height: 8rem;
    margin: 0 auto;
    margin-top: 2.8rem;
    border: 0.8rem solid #883c3c;
}

.door-back .door-in-light {
    width: 2.8rem;
    height: 3rem;
    border-radius: 0.3rem;
    background: #644040;
    box-shadow: 0 0 50px 20px #694e4e88;
    margin: 0 auto;
    top: 35%;
    position: relative;
}

.door-back .door-in-light::before {
    position: absolute;
    content: '';
    width: 1.6rem;
    height: 2rem;
    background: #716262bb;
    box-shadow: 0 0 5px 2px #816868;
    left: 50%;
    top: 50%;
    border-radius: 0.2rem;
    transform: translate(-50%, -40%);
}

.door-back .door-in-light::after {
    position: absolute;
    content: '';
    width: 0.6rem;
    height: 0.8rem;
    background: #ececec;
    box-shadow: 0 0 6px 4px #d8d6d6;
    left: 50%;
    top: 50%;
    border-radius: 0.1rem;
    transform: translate(-50%, 0%);
}

.door-back .door {
    background: radial-gradient(circle farthest-corner at 0 90%, #7e1010, #bf2929);
    position: absolute;
    top: 0px;
    left: -1px;
    width: 6.5rem;
    height: 8rem;
    border: 2px solid #deb331;
    box-shadow: inset 0 0 5px 1px #866608;
    transform-origin: left;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
}

.door-back .door:hover {
    cursor: pointer;
}


.door-back .door .latch {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    background: #e49524;
    position: absolute;
    right: 0.5rem;
    box-shadow: 0 0 2px 1px #5e2408;
}

.door-back .door .door-front {
    font-size: 2.4rem;
    color: #ffe000;
    margin-top: 0.5rem;
}

.door-open {
    /*prespectiv creates the door open effect*/
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(-3px) rotateY(-105deg);
}

.door-hint {
    position: absolute;
    left: 95%;
    bottom: 0;
}

.door-hint .hint {
    border: 1px solid #9c3f3f;
    border-radius: 60% 35%;
    color: #e92626;
    padding: 0.5rem 1rem;
    position: relative;
    width: 4rem;
    left: 2rem;
    top: -1rem;
    transform: rotate(12deg);
}

.door-hint .circle {
    border: 1px solid #9c3f3f;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    position: relative;
}

.door-hint .circle.circle1 {
    left: 3rem;
    top: -0.75rem;
    width: 0.6rem;
    height: 0.3rem;
}

.door-hint .circle.circle2 {
    left: 2.8rem;
    top: -0.5rem;
}

#pg-welcome #wedding-doll-b,
#pg-welcome #wedding-doll-g {
    height: 4rem;
}

#pg-welcome #wedding-doll-g {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#pg-welcome #wedding-doll-g.shake {
    animation: doll-shake 3s 0.15s linear 1;
}

#wedding-doll {
    width: 35vw;
    left: initial;
    right: 50%;
    transform: translateX(15%);
    opacity: 1;
}

#wedding-doll-in-photo {
    position: absolute;
    width: 25vw;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    transform: translateY(20%);
}

#ig-filter {
    position: absolute;
    border: 1px solid #763da2;
    border-radius: 70% / 55%;
    padding: 1rem;
    bottom: 8.5rem;
    left: 45%;
    background: #fae6ff;
    box-shadow: 0 1px 1px 0px;
}

#ig-filter > a {
    text-decoration: none;
}

#ig-filter::after {
    content: '';
    position: absolute;
    height: 100px;
    width: 0.5rem;
    background: #3b1b53;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    top: 101%;
}

#ig-filter-click-area {
    position: absolute;
    bottom: 8.1rem;
    left: 40%;
    width: 8rem;
    height: 4rem;
    z-index: 2;
}

#ig-filter-click-area:hover {
    cursor: pointer;
}

.svg-container #svg-view {
    bottom: 0;
    z-index: 1;
}

.anchors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 1.2rem 0.5rem;
    height: 40px;
}

.anchors .anchor {
    margin: 0 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #dea48e22;
    font-weight: 600;
    letter-spacing: 2px;
    color: #a1481c;
}

.anchors .anchor:hover {
    cursor: pointer;
    background-color: #88564222;
}

.anchors .anchor.active {
    box-shadow: 0 2px 10px 5px #fbfbf2;
    background: #dc6d1b99;
    color: #fff;
}

.main .hint {
    text-align: center;
    margin-bottom: 1.2rem;
}

.main .hint .congrats {
    font-size: 1.6rem;
    margin: 1.2rem 0;
}

.card {
    width: 100vw;
    height: calc(100vh - 40px);
    /* border: 2px solid #cc6414; */
    box-shadow: 0px 0px 50px -10px #f0b787;
    text-align: center;
    z-index: 2;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 0.5rem;
    background: #ffffff44;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.card .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card .header .anchor {
    border-bottom: 1px solid #000;
    font-size: 1rem;
}

.card .content {
    text-align: center;
    letter-spacing: 2px;
}

.card .content #card-intro,
.card .content #card-map {
    margin: 2rem 0 0 0;
    position: relative;
}

.card .content .people {
    display: flex;
    justify-content: space-around;
}

.card .content .people .title {
    margin-bottom: 1rem;
    color: #a64617;
}

.card .content .people .name {
    margin: 1.2rem;
}

.card .content .invite {
    width: 50%;
    margin: 1.2rem auto;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 1rem 0;
    color: #b75709;
    text-shadow: 0px 0px 30px #f68223;
}

#card-intro .location {
    margin-top: 1rem;
    color: #840505;
    font-weight: bold;
}

.card .map-location {
    font-weight: 800;
    font-size: 1.5rem;
    color: #9e0808;
}

.card .map .map-content {
    width: calc(100vw - 4rem);
    height: 50vh;
    margin: 1rem auto;
    padding: 0.4rem;
    border: 1rem solid #ffffff;
    box-shadow: 0px 1px 8px 0px #e7b66855;
    background: #f6f6f6;
}

.card .map .map-content .img {
    width: 100%;
    height: 100%;
}

.card .map .map-content .img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .map .map-controller {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .map .map-controller .round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background: #f9d003;
    margin: 0.4rem;
}

.card .map .map-controller .round.active {
    background: rgb(233 130 57);
}

.card .address {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

#card-photo #photo-placeholder {
    height: 60vh;
    margin: 2rem 1.2rem 1rem 1.2rem;
    /* border-top: 1rem solid #fff; */
    /* border-left: 1.5rem solid #fff; */
    /* border-right: 1.5rem solid #fff; */
    /* border-bottom: 3rem solid #fff; */
    /* border-radius: 1rem 1rem 0 0; */
    box-shadow: 0px 2px 3px 0px #e7b668;
    background-image: url(resources/pic1.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: background-image 1s ease-in;
    position: relative;
}

#card-photo #photo-gallery {
    display: flex;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 0.8rem 0;
    margin: 1.6rem 1.2rem 0 1.2rem;
}

#card-photo #photo-gallery .photo {
    height: calc(12vh - 0.5rem - 20px);
    margin: 0.3rem;
    min-width: 8.5vh;
    max-width: 8.5vh;
    border: 5px solid #f4f4f4;
    box-shadow: 1px 1px 4px 0px #4d4c4c;
    object-fit: cover;
    border-radius: 1rem 0 1rem 0;
}

#card-photo #photo-gallery .photo:hover {
    cursor: pointer;
}

#card-photo #photo-gallery .photo:first-child {
    margin-left: auto;
}

#card-photo #photo-gallery .photo:last-child {
    margin-right: auto;
}


#moon {
    offset-path: circle(400px at 0 0);
    offset-rotate: 0deg;
    animation: moon-rise 20s infinite linear;
}

#tree1 {
    transform: scale(120%, 150%) translate(-20px, -200px);
}

#mountain2 {
    transform: scale(1, 1.5) translate(-20px, -200px);
}

.cloud {
    filter: drop-shadow(2px 5px 10px rgb(0 0 0 / 0.4));
}

#cloud1 {
    animation: cloud-move 18s infinite linear;
}

#cloud2 {
    animation: reverse cloud-move 20s infinite linear;
}

@keyframes moon-rise {
    0% {
        offset-distance: 50%;
        fill: #fdb033;
        filter: drop-shadow(0 0 100px #fcc266);
    }

    30% {
        fill: #fdec6c;
        filter: drop-shadow(0 0 100px #fff5ab);
    }

    60% {
        fill: #e9b936;
        filter: drop-shadow(0 0 100px #fff28d);
    }

    80% {
        fill: #d3761a;
        filter: drop-shadow(0 0 60px #faa958)
    }

    90% {
        offset-distance: 120%;
        fill: #b9360e;
        filter: drop-shadow(0 0 60px #ec673f);
    }

    100% {
        offset-distance: 140%;
    }
}

@keyframes cloud-move {
    0% {
        transform: translateX(-90%);
    }

    100% {
        transform: translateX(90%);
    }
}

.snowing {
    position: absolute;
    filter: blur(0.8px);
    width: 100%;
    height: 100%;
}

.snowing .small {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-name: snow-fall, snow-shake;
    animation-name: snow-fall, snow-shake;
    -webkit-animation-duration: 12s, 4s;
    animation-duration: 12s, 4s;
    -webkit-animation-timing-function: linear, ease-in-out;
    animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    animation-iteration-count: infinite, infinite;
    top: -100%;
}

.snowing .small:nth-child(1) {
    left: 210px;
    top: -40px;
    -webkit-animation-delay: 9s, 0.3s;
    animation-delay: 9s, 0.3s;
}

.snowing .small:nth-child(2) {
    left: 400px;
    top: -50px;
    -webkit-animation-delay: 6s, 0.3s;
    animation-delay: 6s, 0.3s;
}

.snowing .small:nth-child(3) {
    left: 720px;
    top: -130px;
    -webkit-animation-delay: 8s, 0.3s;
    animation-delay: 8s, 0.3s;
}

.snowing .small:nth-child(4) {
    left: 140px;
    -webkit-animation-delay: 10s, 0.3s;
    animation-delay: 10s, 0.3s;
}

.snowing .small:nth-child(5) {
    left: 500px;
    -webkit-animation-delay: 7s, 0.2s;
    animation-delay: 7s, 0.2s;
}

.snowing .small:nth-child(6) {
    left: 150px;
    top: -30px;
    -webkit-animation-delay: 5.2s, 0.3s;
    animation-delay: 5.2s, 0.3s;
}

.snowing .small:nth-child(7) {
    left: 200px;
    top: -20px;
    -webkit-animation-delay: 3.4s, 0.3s;
    animation-delay: 3.4s, 0.3s;
}

.snowing .small:nth-child(8) {
    left: 70px;
    top: -330px;
    -webkit-animation-delay: 6.6s, 0.3s;
    animation-delay: 6.6s, 0.3s;
}

.snowing .small:nth-child(9) {
    left: 380px;
    top: -90px;
    -webkit-animation-delay: 5.6s, 0.3s;
    animation-delay: 5.6s, 0.3s;
}

.snowing .small:nth-child(10) {
    left: 130px;
    -webkit-animation-delay: 11s, 0.2s;
    animation-delay: 11s, 0.2s;
}

.snowing .small:nth-child(11) {
    left: 20px;
    -webkit-animation-delay: 8.5s, 0.3s;
    animation-delay: 8.5s, 0.3s;
}

.snowing .small:nth-child(12) {
    left: 620px;
    top: -40px;
    -webkit-animation-delay: 4s, 0.3s;
    animation-delay: 4s, 0.3s;
}

.snowing .small:nth-child(13) {
    left: 400px;
    top: -180px;
    -webkit-animation-delay: 3.7s, 3s;
    animation-delay: 3.7s, 3s;
}

.snowing .small:nth-child(14) {
    left: 500px;
    top: -370px;
    -webkit-animation-delay: 3s, 0.3s;
    animation-delay: 3s, 0.3s;
}

.snowing .small:nth-child(15) {
    left: 660px;
    top: -20px;
    -webkit-animation-delay: 2s, 0.3s;
    animation-delay: 2s, 0.3s;
}

.snowing .small:nth-child(16) {
    left: 610px;
    top: -80px;
    -webkit-animation-delay: 0s, 0.3s;
    animation-delay: 0s, 0.3s;
}

.snowing .small:nth-child(17) {
    left: 20px;
    top: -210px;
    -webkit-animation-delay: 2.8s, 2s;
    animation-delay: 2.8s, 2s;
}

.snowing .small:nth-child(18) {
    left: 670px;
    top: -200px;
    -webkit-animation-delay: 1.5s, 0.6s;
    animation-delay: 1.5s, 0.6s;
}

.snowing .small:nth-child(19) {
    left: 210px;
    top: -120px;
    -webkit-animation-delay: 1s, 0.3s;
    animation-delay: 1s, 0.3s;
}

.snowing .small:nth-child(20) {
    left: 20px;
    top: -110px;
    -webkit-animation-delay: -1.1s, -0.1s;
    animation-delay: -1.1s, -0.1s;
}

.snowing .medium {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-name: snow-fall, snow-shake;
    animation-name: snow-fall, snow-shake;
    -webkit-animation-duration: 12s, 4s;
    animation-duration: 12s, 4s;
    -webkit-animation-timing-function: linear, ease-in-out;
    animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    animation-iteration-count: infinite, infinite;
    top: -100%;
}

.snowing .medium:nth-child(1) {
    left: 300px;
    top: -420px;
    -webkit-animation-delay: 3.4s, 1s;
    animation-delay: 3.4s, 1s;
}

.snowing .medium:nth-child(2) {
    left: 530px;
    -webkit-animation-delay: 0.2s, 0.1s;
    animation-delay: 0.2s, 0.1s;
}

.snowing .medium:nth-child(3) {
    left: 340px;
    top: -110px;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}

.snowing .medium:nth-child(4) {
    left: 250px;
    top: -390px;
    -webkit-animation-delay: 3.4s, 3s;
    animation-delay: 3.4s, 3s;
}

.snowing .medium:nth-child(5) {
    left: 400px;
    top: -150px;
    -webkit-animation-delay: 8.4s, 0.3s;
    animation-delay: 8.4s, 0.3s;
}

.snowing .medium:nth-child(6) {
    left: 720px;
    top: -240px;
    -webkit-animation-delay: 7.7s, 1s;
    animation-delay: 7.7s, 1s;
}

.snowing .medium:nth-child(7) {
    left: 350px;
    top: -180px;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}

.snowing .medium:nth-child(8) {
    left: 560px;
    -webkit-animation-delay: 1s, 0.5s;
    animation-delay: 1s, 0.5s;
}

.snowing .medium:nth-child(9) {
    left: 10px;
    top: -310px;
    -webkit-animation-delay: 8.2s, 0.5s;
    animation-delay: 8.2s, 0.5s;
}

.snowing .medium:nth-child(10) {
    left: 40px;
    top: -220px;
    -webkit-animation-delay: 3s, 1s;
    animation-delay: 3s, 1s;
}

.snowing .medium:nth-child(11) {
    left: 220px;
    top: -530px;
    -webkit-animation-delay: 0.6s, 3s;
    animation-delay: 0.6s, 3s;
}

.snowing .medium:nth-child(12) {
    left: 630px;
    top: -10px;
    -webkit-animation-delay: 9.4s, 2s;
    animation-delay: 9.4s, 2s;
}

.snowing .medium:nth-child(13) {
    left: 420px;
    top: -60px;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}

.snowing .medium:nth-child(14) {
    left: 580px;
    -webkit-animation-delay: 2s, 0.3s;
    animation-delay: 2s, 0.3s;
}

.snowing .medium:nth-child(15) {
    left: 420px;
    top: -180px;
    -webkit-animation-delay: 7s, 1s;
    animation-delay: 7s, 1s;
}

.snowing .medium:nth-child(16) {
    left: 360px;
    -webkit-animation-delay: 8s, 0.3s;
    animation-delay: 8s, 0.3s;
}

.snowing .medium:nth-child(17) {
    left: 90px;
    top: -190px;
    -webkit-animation-delay: 4.5s, 1s;
    animation-delay: 4.5s, 1s;
}

.snowing .medium:nth-child(18) {
    left: 130px;
    top: -330px;
    -webkit-animation-delay: 8.2s, 1s;
    animation-delay: 8.2s, 1s;
}

.snowing .medium:nth-child(19) {
    left: 150px;
    top: -490px;
    -webkit-animation-delay: 6.5s, 0.1s;
    animation-delay: 6.5s, 0.1s;
}

.snowing .medium:nth-child(20) {
    left: 640px;
    top: -270px;
    -webkit-animation-delay: 10s, 1.5s;
    animation-delay: 10s, 1.5s;
}

@-webkit-keyframes snow-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@keyframes snow-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes snow-shake {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes snow-shake {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes doll-shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    50%, 100% {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 20px;
    }
}

@media (orientation: landscape) {
    :root {
        font-size: 14px;
    }

    #pg-welcome #wedding-doll-b {
        left: 30vw;
    }

    #pg-welcome #wedding-doll-g {
        right: 30vw;
    }

    #pg-welcome #wedding-img {
        width: 30vw;
        left: 50%;
        transform: translateX(-75%);
    }

    #wedding-doll {
        width: 15vw;
        bottom: 2.2rem;
        transform: translateX(10%);
    }

    #pg-welcome #txt-welcome {
        width: 32vw;
    }

    #wedding-doll-in-photo {
        width: 10vw;
    }

    .svg-container #svg-view {
        width: 50vw;
        left: 50%;
        transform: translateX(-50%);
    }

    #ig-filter,
    #ig-filter-click-area  {
        display: none;
    }

    .main .anchors {
        margin: 1.2rem 0;
        width: 50vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .card {
        width: 50vw;
		background: #ffffff88;
    }

    .card .content {
        margin-top: 2rem;
    }

    .card .map .map-content {
        width: calc(50vw - 8rem);
    }

    #card-photo #photo-gallery .photo {
        margin: 0.2rem 0.4rem;
    }

    #card-photo #photo-placeholder {
        margin: 2rem 2rem 1rem 2rem;
    }

    #card-photo #photo-gallery {
        margin: 1rem 2rem 0 2rem;
    }
}

@media (orientation: portrait) {}