:root {
    font-size: 12px;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle farthest-corner at 0 90%, #fedcb6, #fffaf4);
    letter-spacing: 1px;
}

.d-none {
    display: none;
}

.pos-abs {
    position: absolute;
}

.pos-fix {
    position: fixed;
}

.txt-large {
    font-size: 1.4rem;
}

.txt-normal {
    font-size: 1.2rem;
}

.txt-bold {
    font-weight: 600;
}

.svg-container #svg-view {
    bottom: 0;
    z-index: 1;
}

.main .anchors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.2rem 0.5rem;
}

.main .anchors .anchor {
    margin: 0 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #dea48e22;
}

.main .anchors .anchor:hover {
    cursor: pointer;
    background-color: #88564222;
}

.main .anchors .anchor.active {
    box-shadow: 0 2px 10px 5px #fbfbf2;
    background: #dc6d1b99;
    color: #fff;
}

.main .hint {
    text-align: center;
    margin-bottom: 1.2rem;
}

.main .hint .congrats {
    font-size: 1.6rem;
    margin: 1.2rem 0;
}

.card {
    width: 100vw;
    height: 100vh;
    padding: 2px;
    /* border: 2px solid #cc6414; */
    box-shadow: 0px 0px 10px 2px #fed7b6;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1rem;
    background: #ffffff45;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.card .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card .header .anchor {
    border-bottom: 1px solid #000;
    font-size: 1rem;
}

.card .content {
    text-align: center;
    padding: 2rem;
    letter-spacing: 2px;
}

.card .content .people {
    display: flex;
    justify-content: space-around;
}

.card .content .people .title {
    margin-bottom: 1rem;
}

.card .content .people .name {
    margin: 1.5rem;
}

.card .content .invite {
    width: 50vw;
    margin: 1.2rem auto;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 1rem 0;
    text-shadow: 0px 0px 30px #f68223;
}

.card .content .address {
    margin-top: 1.5rem;
}


#moon {
    offset-path: circle(400px at 0 0);
    offset-rotate: 0deg;
    animation: moon-rise 20s infinite linear;
}

#tree1 {
    transform: scale(120%, 150%) translate(-20px, -200px);
}

#mountain2 {
    transform: scale(1, 1.5) translate(-20px, -200px);
}

.cloud {
    filter: drop-shadow(2px 5px 10px rgb(0 0 0 / 0.4));
}

#cloud1 {
    animation: cloud-move 18s infinite linear;
}

#cloud2 {
    animation: reverse cloud-move 20s infinite linear;
}

@keyframes moon-rise {
    0% {
        offset-distance: 50%;
        fill: #fdb033;
        filter: drop-shadow(0 0 100px #fcc266);
    }

    30% {
        fill: #fdec6c;
        filter: drop-shadow(0 0 100px #fff5ab);
    }

    60% {
        fill: #e9b936;
        filter: drop-shadow(0 0 100px #fff28d);
    }

    80% {
        fill: #d3761a;
        filter: drop-shadow(0 0 60px #faa958)
    }

    90% {
        offset-distance: 120%;
        fill: #b9360e;
        filter: drop-shadow(0 0 60px #ec673f);
    }

    100% {
        offset-distance: 140%;
    }
}

@keyframes cloud-move {
    0% {
        transform: translateX(-90%);
    }

    100% {
        transform: translateX(90%);
    }
}

@media (orientation: landscape) {
    .svg-container #svg-view {
        width: 30vw;
        left: 70%;
    }
}

@media (orientation: portrait) {}